<?xml version="1.0"?>
<config>
  <modules>
    <Criteek_Reviewsystem>
      <version>1.1.0</version>
    </Criteek_Reviewsystem>
  </modules>
  <admin>
    <routers>
      <reviewsystem>
        <use>admin</use>
        <args>
          <module>Criteek_Reviewsystem</module>
          <frontName>reviewsystem</frontName>
        </args>
      </reviewsystem>
    </routers>
  </admin>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <Criteek_Reviewsystem>
              <title>Criteek Reviewsystem Module</title>
              <sort_order>10</sort_order>
            </Criteek_Reviewsystem>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <reviewsystem>
          <file>reviewsystem.xml</file>
        </reviewsystem>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <reviewsystem>
        <class>Criteek_Reviewsystem_Model</class>
      </reviewsystem>
    </models>
    <helpers>
      <reviewsystem>
        <class>Criteek_Reviewsystem_Helper</class>
      </reviewsystem>
    </helpers>
    <blocks>
      <reviewsystem>
        <class>Criteek_Reviewsystem_Block</class>
      </reviewsystem>
    </blocks>
		<resources>
			<reviewsystem_setup>
				<setup>
					<module>Criteek_Reviewsystem</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</reviewsystem_setup>
	  	<reviewsystem_write>
				<connection>
		  		<use>core_write</use>
				</connection>
	  	</reviewsystem_write>
	  	<reviewsystem_read>
				<connection>
		  		<use>core_read</use>
				</connection>
	  	</reviewsystem_read>
		</resources>
    <sales>
      <order>
        <statuses>
          <shipped translate="label">
            <label>Complete</label>
          </shipped>
        </statuses>
      </order>
    </sales>
    <events>
      <sales_order_save_commit_after><!-- observe the event -->
        <observers>
          <reviewsystem>
            <class>reviewsystem/observer</class>
            <method>sendOrderToCriteek</method>
          </reviewsystem>
        </observers>
      </sales_order_save_commit_after>
      <admin_system_config_changed_section_manage_widget>
        <observers>
          <reviewsystem>
            <type>singleton</type>
            <class>reviewsystem/observer</class>
            <method>adminSystemConfigChangedSection</method>
          </reviewsystem>
        </observers>
      </admin_system_config_changed_section_manage_widget>
      <admin_system_config_changed_section_reviewsystem>
        <observers>
          <reviewsystem>
            <type>singleton</type>
            <class>reviewsystem/observer</class>
            <method>adminSystemConfigApiAuthenticationSection</method>
          </reviewsystem>
        </observers>
      </admin_system_config_changed_section_reviewsystem>
      <controller_action_predispatch_catalog_product_view><!-- observe the event -->
        <observers>
          <reviewsystem_analytics>
            <class>reviewsystem/observer</class>
            <method>getproductData</method>
          </reviewsystem_analytics>
        </observers>
      </controller_action_predispatch_catalog_product_view>
    </events>
  </global>
  <default>
    <reviewsystem>
      <product_review_config>
        <allowed_status>complete</allowed_status>
        <criteek_synch>0</criteek_synch>
				<criteek_order_sent>0</criteek_order_sent>
      </product_review_config>
      <manage_widget_config>
        <widget_js_code>
          <![CDATA[<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('criteek-js-code')->toHtml();?>]]>
        </widget_js_code>
        <widget_synch>0</widget_synch>
      </manage_widget_config>
    </reviewsystem>
  </default>
</config>
