<?xml version="1.0"?>

<config>
	<modules>
		<Criteek_Reviewsystem>
			<version>1.0.0</version>
		</Criteek_Reviewsystem>
	</modules>
	<admin>
		<routers>
			<reviewsystem>
				<use>admin</use>
				<args>
					<module>Criteek_Reviewsystem</module>
					<frontName>reviewsystem</frontName>
				</args>
			</reviewsystem>
		</routers>
	</admin>
	   <adminhtml>
	
	   <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Criteek_Reviewsystem>
							<title>Criteek Reviewsystem Module</title>
							<sort_order>10</sort_order>
						</Criteek_Reviewsystem>
					</children>
				</admin>
			</resources>
		</acl>
	 <layout>
			<updates>
				<reviewsystem>
					<file>reviewsystem.xml</file>
				</reviewsystem>
			</updates>
		</layout>
	   </adminhtml>
	<global>
	  <models>
		<reviewsystem>
			<class>Criteek_Reviewsystem_Model</class>
			 <resourceModel>reviewsystem_mysql4</resourceModel>
		</reviewsystem>
		  <reviewsystem_mysql4>
		<class>Criteek_Reviewsystem_Model_Mysql4</class>
		<entities>
		  <category>
			<table>criteek_reviewsystem_category</table>
		  </category>
		</entities>
		 <entities>
		  <emailQueue>
			<table>criteek_reviewsystem_queue</table>
		  </emailQueue>
		</entities>
	  </reviewsystem_mysql4>
		</models>
		<helpers>
			<reviewsystem>
				<class>Criteek_Reviewsystem_Helper</class>
			</reviewsystem>
		</helpers>
		  <resources>
			<reviewsystem_setup>
			<setup>
				<module>Criteek_Reviewsystem</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</reviewsystem_setup>
	  <reviewsystem_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </reviewsystem_write>
	  <reviewsystem_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </reviewsystem_read>
	</resources>
	  <blocks>
	  <reviewsystem>
		<class>Criteek_Reviewsystem_Block</class>
	  </reviewsystem>
	</blocks>
		  <sales>
		<order>
			<statuses>
				<shipped translate="label">
					<label>Complete</label>
				</shipped>
			</statuses>

		</order>
	</sales>
	 <events>
			<sales_order_save_commit_after><!-- observe the event -->
				<observers>
					<reviewsystem>
						<class>reviewsystem/observer</class>
						<method>getOrder</method>
					</reviewsystem>
				</observers>
			</sales_order_save_commit_after>
				<catalog_category_save_commit_after><!-- observe the event -->
				<observers>
					<reviewsystem_category>
						<class>reviewsystem/observer</class>
						<method>getCategory</method>
					</reviewsystem_category>
				</observers>
			</catalog_category_save_commit_after>
			<admin_system_config_changed_section_manage_widget>
				<observers>
					<reviewsystem>
						<type>singleton</type>
						<class>reviewsystem/observer</class>
						<method>adminSystemConfigChangedSection</method>
					</reviewsystem>
				</observers>
			</admin_system_config_changed_section_manage_widget>
			<admin_system_config_changed_section_reviewsystem>
				<observers>
					<reviewsystem>
						<type>singleton</type>
						<class>reviewsystem/observer</class>
						<method>adminSystemConfigApiAuthenticationSection</method>
					</reviewsystem>
				</observers>
			</admin_system_config_changed_section_reviewsystem>
				<controller_action_predispatch_catalog_product_view><!-- observe the event -->
				<observers>
					<reviewsystem_analytics>
						<class>reviewsystem/observer</class>
						<method>getproductData</method>
					</reviewsystem_analytics>
				</observers>
			</controller_action_predispatch_catalog_product_view>
		</events>
		<template>
		<email>
			<product_review_email_template>
				<label>Criteek Reviewsystem Review Email</label>
				<file>product_review_email.html</file>
				<type>html</type>
			</product_review_email_template>
		</email>
	</template>
	</global>
	 <default>
	 <reviewsystem>
		 <product_review_config>
			<allowed_status>complete</allowed_status>
			<criteek_synch>0</criteek_synch>
		 </product_review_config>
		 <manage_widget_config>
			 <widget_js_code><![CDATA[<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('criteek-js-code')->toHtml();
?>
					]]></widget_js_code>
			 <widget_synch>0</widget_synch>
		 </manage_widget_config>
	 </reviewsystem>
	 </default>
	 <crontab>
			<jobs>
				<reviewsystem>
				<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
				<run><model>reviewsystem/cron::sendEmail</model></run>
				</reviewsystem>
			</jobs>
	</crontab>
</config>